html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 1px black solid;
}

.nav {
  background-color: #425063;
}

li {
  float: left;
}

li .nav {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
}

li .nav:hover {
  background-color: #2E3A4A;
}

.aboutpic {
  display: block;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 20px;
  line-height: 2;
  font-family: 'Oswald', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  color: #1f3046;
}

textarea {
  padding: 70px;
  width: 55%;
  align-self: center;
}

input[type="text"] {
  margin: 10px;
  padding: 20px;
  align-self: center;
  border: none;
  border-bottom: 2px solid #2E3A4A;
  width: 90%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  position: relative;
  left: 10%;
  width: 80%;
  padding: 10px;
  background-color: white;

}

button:hover{
  color: white;
  background-color: #14263C;
  transition: all 0.3s ease;
}


@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.form-container {
  padding: 20px
}

footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #14263C;
  color: white;
  padding-bottom: 10px;
}

.fa {
  margin-left: 10px;
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

.fa:hover{
  background-color:#1F3046;
}


@media only screen and (min-width: 700px) {
  .header {
    border: 1px black solid;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #425063;
  }

  .nav {
    padding: 8px;
    background-color: #425063;
  }

  li {
    display: inline-block;
    float: left;
  }

  li .nav {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li .nav:hover {
    background-color: #2E3A4A;
  }
}


  }
