html{
scroll-behavior: smooth;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header{
display: flex;
flex-direction: row;
list-style-type: none;
border: 1px black solid;
  background-color: #2E3A4A
}

.nav {
  background-color: #2E3A4A;
}

li {
  float: left;
}

li .nav {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
    background-color: #2E3A4A
}

li .nav:hover {
  background-color: #14263C;
}

figcaption{
  text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  color: #1F3046;
}

p {
  color: #14263C;
  line-height: 1.5;
  font-family:'Playfair Display', serif;
}
.container {
  display: grid;
  grid-template-columns: 30%  60%;
  grid-template-rows: 30% 75%;
  grid-template-areas:
  ".header .header"
  ".sidebar . .main"
  "footer footer";
  grid-gap: 5%;
}

h1 {
  color: #09192D;
 font-family: 'Playfair Display', serif;
}

h2{
  text-align: center;
}

.sidebar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
  transition: 0.5s ease;
  color: #2E3A4A;
  list-style-type: none;
  font-size: 20px;
  width: 50%;
  height: 400px;
  text-align: left;
}

.sidel{
  display: block;
  color: #1F3046;
  font-family: serif;
}

.smallf{
  font-size: 5px;
}

a:link{
  text-decoration: none;
  color; black;
  line-height: 1.3;

}


h1 {
  text-align: center;
}

#scroll1, #scroll2, #scroll3{
border-bottom: 1px black solid;
}


li{
 display: inline;
 color: white;
  list-style-type: none;
  margin:10px;
}

.info {
  text-align: center;
  border-top: #1F3046;
}

#author {
  border-radius: 100%;
}

footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #1F3046;
  color: white;
}

#copy{
  color: white;
}

.fa {
  margin-left: 10px;
  padding: 20px;
 font-size: 30px;
 width: 25px;
 text-align: center;
 text-decoration: none;
}

/* Facebook */
.fa-facebook {
  background-color: #425063;
  color: white;
}

/* Twitter */
.fa-twitter {
  background-color: #425063;
  color: white;
}

.fa-linkedin {
  background-color: #425063;
  color: white;
}

.fa:hover{
  background-color: #696969;
}

@media only screen and (min-width: 700px) {

  h1 {
    text-align: center;
  }


  .header{
  border: 1px black solid;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav {
  padding: 8px;
  background-color: dark grey;
}

li {
  display: inline-block;
  float: left;
}

li .nav {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .nav:hover {
  background-color: #111;
  }

footer{
 display: flex;
 flex: direction: row;
 justify-content: center;
 width: 100%;
}
}
